aniso8601==9.0.1
bcrypt==3.2.0
blinker==1.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.2
colorama==0.4.4
Flask==2.0.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.10
Flask-Mail==0.9.1
flask-marshmallow==0.14.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
Flask-Uploads==0.2.1
greenlet==1.1.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
marshmallow==3.14.0
persiantools==2.2.0
pycparser==2.20
PyJWT==2.3.0
PyMySQL==1.0.2
pytz==2021.3
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.25
urllib3==1.26.7
uuid==1.30
Werkzeug==2.0.2
-e git://github.com/maxcountryman/flask-uploads.git#egg=elasticutils
